@{
    ViewData["Title"] = "Contact Me";
}

<div style="text-align: center">
    <h3>You can find me or my work here:</h3>
    <p><a href="www.linkedin.com/in/jasonadamgardner">LinkedIn</a></p>
    <p><a href="www.github.com/Jason-Gardner">GitHub</a></p>
</div>
