@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFNAMJZXkWp4g/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=eoY_2zRIlSpJdVABye7wfhnbk0qn3SJbYv2TuLmXs0k" style="border-radius: 30px"/>
    <p>
        My name is Jason Gardner and I am a developer with experience in C#, HTML, CSS, JavaScript and SQL.<br />
        In my spare time, I also enjoy running, drumming and gaming.<br />
    </p>
    <h3>Why software development?</h3>
    <p>My time at Grand Circus' C# After-Hours Bootcamp confirmed something I already knew - I enjoy
    a challenge, whether it be in coding, gaming or pushing myself to run faster or farther. As I learned
    about what I could do in a software development team, this spoke to my experience in retail leadership
    and working with others towards a common goal.
    </p>
    <h3>Back-end or front-end?</h3>
    <p>C# and I have a roughly year long relationship, built from my experience in bootcamp and somewhat
    accidental purchasing of a C# textbook a few years back. But C# quickly reminded me of my high school
    programming classes where I learned C++, making it feel very familiar with the logic and operators.</p>
    <p>As for the front-end, I do enjoy the creative side of HTML/CSS, as I enjoy thinking about the user experience
    and how someone would view what has been created. Though initially we used Bootstrap during bootcamp,
    I have focused on learning more about front-end technologies as I aspire to eventually become a full-stack
        developer.</p>
    <p>Check out my projects <a href="~/Home/Projects">here</a>.</p>
</div>
