
@{
    ViewData["Title"] = "Projects";
}

<h1 style="padding-bottom: 5px">Projects</h1>
<div class="list-group">
    <ul>
        <li>
            <a href="https://github.com/Jason-Gardner/GamerMatch">GamerMatch - Grand Circus C# Bootcamp Final Project</a>
            <p>Final group project for C# Bootcamp utilizing a range of skills learned over six months.</p>
            <p><i>Uses C#, Bootstrap, Microsoft SQL Server.</i></p>
        </li>
        <li>
            <a href="https://github.com/Jason-Gardner/LibraryMidterm">Library Project - Grand Circus C# Bootcamp Midterm Project</a>
            <p>Console application built in a small group for C# Bootcamp midterm project.</p>
            <p><i>Uses C#.</i></p>
        </li>
        <li>
            <a href="https://github.com/Jason-Gardner/LibraryRedux">LibraryRedux - Project Redesign</a>
            <p>Rebuild of Library Midterm project using MVC methodology.</p>
            <p><i>Uses C#, Bootstrap, Microsoft SQL Server.</i></p>
        </li>
        <li>
            <a href="https://github.com/Jason-Gardner/DarkSouls3Builder">Dark Souls Imaginarium - Exploratory Project</a>
            <p>Exploratory project to further learn Javascript, as well as working on HTML and CSS.</p>
            <p><i>Uses Javascript, HTML, CSS.</i></p>
        </li>
    </ul>
</div>

